<div class="brands">
    <p id="search-text">Procure carros por:</p>
    <p>Marcas</p>

    <div class="brand-list">
    <a routerLink="/search/vw"><img src="../../../assets/volkswagen-512.png" alt="vw-logo"></a>
    <a routerLink="/search/chevy"><img src="../../../assets/chevrolet-512.png" alt="chevy-logo"></a>
    <a routerLink="/search/hyundai"><img src="../../../assets/hyundai-512.png" alt="hyundai-logo"></a>
    <a routerLink="/search/honda"><img src="../../../assets/honda-512.png" alt="honda-logo"></a>
    <a routerLink="/search/fiat"><img src="../../../assets/fiat-512 (2).png" alt="fiat-logo"></a>
    <a routerLink="/search/jeep"><img src="../../../assets/jeep-500.png" alt="jeep-logo"></a>
    <a routerLink="/search/toyota"><img src="../../../assets/toyota-512.png" alt="toyota-logo"></a>
    
    </div>
    <p>Categorias</p>
    <div class="car-types">
        <a routerLink="/search/suv"><img src="../../../assets/Suvs.png" alt="SUV" class="image"></a>
        <a routerLink="/search/sedan"><img src="../../../assets/Sedan.png" alt="Sedan" class="image"></a>
        <a routerLink="/search/hatch"><img src="../../../assets/Hatchs.png" alt="Hatch" class="image"></a>
        <a routerLink="/search/pickup"><img src="../../../assets/Pickups.png" alt="Pick-up" class="image"></a>
        
    </div>
    
</div>
