<div class="logo">
    <img src="../../../assets/logo.png" alt="logo">
    <p>Compre carros de Diversas marcas e modelos aqui!</p>
</div>
<p>Categorias</p>
<div class="categorias">
    <img src="../../../assets/Suvs.png" alt="SUV" class="image">
    <img src="../../../assets/Sedan.png" alt="Sedan" class="image">
    <img src="../../../assets/Hatchs.png" alt="Hatch" class="image">
    <img src="../../../assets/Pickups.png" alt="Pick-up" class="image">
</div>
<p>Marcas</p>
<div class="marcas">
    <img src="../../../assets/volkswagen-512.png" alt="vw-logo">
    <img src="../../../assets/chevrolet-512.png" alt="chevy-logo">
    <img src="../../../assets/hyundai-512.png" alt="hyundai-logo">
    <img src="../../../assets/honda-512.png" alt="hyundai-logo">

    <img src="../../../assets/jeep-500.png" alt="hyundai-logo">
     <img src="../../../assets/fiat-512 (2).png" alt="hyundai-logo">
    <img src="../../../assets/toyota-512.png" alt="hyundai-logo">
</div>
<p>Mais vendidos</p>
<div class="mais-vendidos">
    <div class="carros">
        
        <img src="../../../assets/fiat/strada.jpg" alt="fiat-strada" title="strada">
        <p>fiat Strada</p>
    </div>
    <div class="carros">
       <img src="../../../assets/vw/polo.jpg" alt="vw-polo" title="polo">
        <p>VW Polo</p>
    </div>
    <div class="carros">
        <img src="../../../assets/vw/t-cross.jpg" alt="vw-tcross" title="t-cross">
        <p>VW T-cross</p>
    </div>
</div>